In [2]:
#importing  pandas library and reading the dataset as a daatframe
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/The-Gradient-Boost/datasets/master/Datasets/NigeriaHousingPrices/findnigprop.csv')

From the above cell, the first thing done is importing the pandas library. 
Pandas library allows for a data set to be read from csv and returned as a dataframe (rows and columns).

In [4]:
#Displaying the first 10 rows of the dataframe
df.head(10)

,price,unit,location,bedrooms,baths,state
0,"₦2,620,000.00 Per Year","₦2,620,000.00 Per Year",", 7 obasa street, Oba-Akran, Ikeja, Lagos, Nig...",NaN,NaN,NaN
1,"₦2,500,000.00","₦2,500,000.00",", Tudu wada, Karshi,, Karu, Nasaruwa, Nigeria",NaN,NaN,NaN
2,"₦300,000.00","₦300,000.00",", ukeh, masaka, mararba, Karu, Nasaruwa, Nigeria",NaN,NaN,NaN
3,per month,per month,", World Trade Center Commercial Tower, Plot 11...",NaN,NaN,NaN
4,,,", World Trade Center, Plot 1113, Constitution ...",2.0,NaN,NaN
5,,,", World Trade Center, Plot 1113, Constitution ...",1.0,NaN,NaN
6,,,", World Trade Center, Plot 1113, Constitution ...",3.0,NaN,NaN
7,,,", 474, A0, Cadastral zone, Constitution Avenue...",NaN,NaN,NaN
8,"₦33,000,000.00","₦33,000,000.00",", Alafia Bus stop, Badagry Express Way, Lagos,...",5.0,5f,NaN
9,"₦30,000,000.00","₦30,000,000.00",", Alafia Bus stop, Badagry Express Way, Lagos,...",8.0,7f,NaN

The total number of columns may ne large running into hundreds or thousands,it s necsaary to limit the display so one can actually see the titles or what each collumn represent in the dataset and not feel overwhelmed by the sheer numbers of the number of cilumns.
Here the top 10 rows are displayed above.
We can deduce from here that they are 6 columns namely:
1.Price
2.unit
3.location
4.bedrooms
5.baths
6.state

In [4]:
#cleaning the data
df.isna().any()

price       False
unit        False
location    False
bedrooms     True
baths        True
state        True
dtype: bool

We can deduce from output above that there exist missing values or null values in at least 'price', 'units',  'bedrooms','baths' and state colums of our datasets
On a closer analysis it is observed that ofor the columns: price, unit, bedrooms and baths,data is Missing at Random (MAR) whereas for 'state' coulmns, data is Xompletely Missing at Random (CMAR)

In [23]:
#dealing with missing data